<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <!-- meta -->
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- styles -->

    <link href="{{url_for('static', path='/main.css')}}" rel="stylesheet" media="screen">
    {% block css %}{% endblock %}
  </head>

  <body>

    <div class="container">
      <!-- child template -->
      {% block content %}{% endblock %}
    </div>

    {% include 'footer.html' %}

    <!-- scripts -->
    <script src="{{url_for('static', path='/main.js')}}" type="text/javascript"></script>
    {% block js %}{% endblock %}

  </body>

</html>
