{% extends "_base.html" %}

{% block content %}

<div class="starter-template">
  <h1>FastAPI + Celery + Docker</h1>
  <hr>
  <table class="table">
    <tbody>
      <tr>
        <td>
          <div>
            <h3>Tasks test</h3>
            <p>Pick a task length.</p>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-primary" onclick="handleClick(1)">Short</a>
              <button type="button" class="btn btn-primary" onclick="handleClick(2)">Medium</a>
              <button type="button" class="btn btn-primary" onclick="handleClick(3)">Long</a>
            </div>
          </div>
          <br>
          <div>
            <h3>SKAB anomaly prediction</h3>
            <table class="table">
              <th title="Accelerometer1RMS" >Accelerometer1RMS</th>
              <th title="Accelerometer2RMS">Accelerometer2RMS</th>
              <th title="Current">Current</th>
              <th title="Pressure">Pressure</th>
              <th title="Temperature">Temperature</th>
              <th title="Thermocouple">Thermocouple</th>
              <th title="Voltage">Voltage</th>
              <th title="Volume Flow RateRMS">Volume Flow RateRMS</th>
              <tr>
                <td><input id="accelerometer1RMS" value="0.133521" /></td>
                <td><input id="accelerometer2RMS" value="1.27794" /></td>
                <td><input id="current" value="1.27794" /></td>
                <td><input id="pressure" value="0.054711" /></td>
                <td><input id="temperature" value="92.2562" /></td>
                <td><input id="thermocouple" value="22.2577" /></td>
                <td><input id="voltage" value="209.639" /></td>
                <td><input id="volume_flow_rateRMS" value="76.0197" /></td>
              </tr>
            </table>
            <p>Anomaly: <span id="result"></span></p>
            <button onclick="sendWsTask()">Send task</button>
          </div>
        </td>
        <td>
          <div style="margin-left: 50px;">
            <h3>Task Status</h3>
            <table class="table" border style="border: 2px;">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Status</th>
                  <th>Result</th>
                </tr>
              </thead>
              <tbody id="tasks">
              </tbody>
            </table>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

{% endblock %}
